.Header{
display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: darkgreen;
}

.Header a{
    text-decoration: none;
    color: snow;
    font-size: 25px;
}

.Header a:hover{
    text-decoration: underline;
    color: blue;
}

.Header a[class='active']{
    color: blue;
}